before_install:
  - sudo apt-get -y install portaudio19-dev python-all-dev
services:
  - xvfb
language: python
python:
    - "3.5"
    - "3.6"
    - "3.7-dev"
install: pip install tox-travis
script: tox
after_success:
- pip install coveralls
- coverage run --source=sk_dsp_comm.pyaudio_helper setup.py test
- coveralls